global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 debug
        maxconn   45000
        daemon
        nbproc      2
defaults
        timeout server 86400000
        timeout connect 86400000
        timeout client 86400000
        timeout queue 1000s

# [HTTP site Configuration]
listen  http_web
        bind *:80
        mode http
        balance roundrobin
        option httpchk
        option forwardfor
        server server2 192.168.1.XXX:80 weight l maxconn 512 check
        server server3 192.168.1.XXX:80 weight 1 maxconn 512 check
        server server4 192.168.1.XXX:80 weight 1 maxconn 512 check
